/* HeroSection */

.front-hero {
  gap: var(--space-lg);
  padding-top: 150px;
  padding-bottom: 150px;
}

.front-hero-title {
  font-size: var(--size-2xl);
  color: var(--primary-10);
  height: var(--size-2xl);
}

.front-hero-subtitle {
  font-size: var(--size-lg);
  color: var(--primary-20);
  height: var(--size-lg);
}

.front-hero-div {
  gap: 2rem;
  font-weight: lighter;
}

.front-hero-content {
  padding-left: 0.25rem;
  font-size: var(--size-sm);
  color: var(--nature-99);
}

.front-hero-icon {
  height: 1.25rem;
  width: 1.25rem;
}

/* Banner */

.banner-content {
  font-size: var(--size-xl);
  color: var(--primary-40);
}

/* EventDescription */

.glass-container {
  background: linear-gradient(
    180deg,
    rgba(143, 204, 143, 0.08) 0%,
    rgba(71, 102, 71, 0.08) 100%
  );
  border: 1px solid rgba(143, 204, 143, 0.56);
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 5rem;
  width: 55rem;
  gap: 4rem;
}

.event-title {
  padding-bottom: 1rem;
  font-size: var(--size-lg);
  color: var(--primary-30);
}

.event-content {
  font-size: var(--size-md);
  color: var(--primary-40);
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.event-list-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.event-list-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

/* RewardDescription */

.reward-title {
  padding-bottom: 2rem;
  font-size: var(--size-ha);
  color: var(--primary-30);
}

.reward-glass-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 14, 2, 0.57);
  border: 1px solid rgba(61, 87, 61, 0.56);
  border-radius: 1.25rem;
  width: 13.5rem;
  height: 8rem;
  gap: 0.5rem;
}

.reward-level {
  font-size: var(--size-lg);
  height: var(--size-lg);
}

.reward-prize {
  font-size: var(--size-md);
  height: var(--size-md);
}

.reward-3 {
  color: var(--primary-10);
}

.reward-5 {
  color: var(--primary-60);
}

.reward-7 {
  color: var(--primary-70);
}

.reward-list-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.reward-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
