.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-content {
  max-width: 1150px;
  padding: 12px 40px;
  border-radius: 40px;
}

.nav-link {
  color: var(--nature-99);
}

.nav-side {
  width: 142px;
}

.side-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-50);
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: var(--nature-99);
}

.language-switcher {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.login-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
