DATABASE_URL="mongodb+srv://admin:HkVKlhg0dgkQRTYw@hitcon-challenge.bpf6pfd.mongodb.net/hitcon-challenge?retryWrites=true&w=majority&appName=hitcon-challenge"

JWT_SECRET="3ngoKfg+EPgMbAwzVVl2edhr538uPEfz+k5WVz5meE4="
ADMIN_JWT_SECRET="2aY+YLQHOzC/0fEG1l9i7x8pIxQeRYTVZGHVxlRNtTc="

GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"

ADMIN_DEFAULT_PASSWORD="SITCON2025"

PORT=3001
NODE_ENV="development"

ALLOWED_ORIGINS="http://localhost:3000"

NEXT_PUBLIC_API_BASE_URL="https://hitcon-challenge-api.onrender.com"
